extends template/main

block variables
	- var title = 'burger.co'
	- var pageClass = 'index-page'

block content
	//- section.hero.d-flex
	//- 	.w-50
	//- 		h1.display-4 We create Burgers.
	//- 		p Beautiful hand crafted burgers with tangy sauce lettuce, onions, pickles and our specials

	//- 	.w-50
	//- 		h1.display-4 Delicious
	//- 		p Oh, yes as are made with hands and chef loves them to the core.
	//- 		.d-flex
	//- 			span Are they really?
	//- 			button.btn.btn-light Show me 
	//- 			//+icon('barbecue','mode')

	// burgers
	section.burgers
		.container 
			.row
				.col-md-4.mb-4.mb-md-0.d-flex.justify-content-center.justify-content-md-start
					.burger.position-relative
						img.burger__img.burger__img_1.mb-2.mb-md-4(src="static/images/content/burger_1.png")
						.burger__body
							h5.burger__name.mb-1.mb-md-2 Beef Bondy
							p.burger__text Juicy hand cut beef with Mango sauce fries
							a.burger__btn.btn.bookBurg.btn-light.justify-content-between.stretched-link(href="#")
								.d-flex
									img.bookBurg__icon(src="static/images/general/barbecco-icon.png").mr-2
									span.bookBurg__kilo.mr-2 345 KJ
								span.bookBurg__price $12.5


				.col-md-4.mb-4.mb-md-0
					.burger.position-relative
						img.burger__img.burger__img_2.mb-2.mb-md-4(src="static/images/content/burger_2.png")
						.burger__body
							h5.burger__name.mb-1.mb-md-2 Chicken Mota
							p.burger__text Beautiful chicken breast with salsa sauce on top
							a.burger__btn.btn.bookBurg.btn-light.justify-content-between.stretched-link(href="#")
								.d-flex
									img.bookBurg__icon(src="static/images/general/barbecco-icon.png").mr-2
									span.bookBurg__kilo.mr-2 345 KJ
								span.bookBurg__price $9.0


				.col-md-4.d-flex.justify-content-center.justify-content-md-end
					.burger.position-relative
						img.burger__img.burger__img_3.mb-2.mb-md-4(src="static/images/content/burger_3.png")
						.burger__body
							h5.burger__name.mb-1.mb-md-2 Double Beef
							p.burger__text Yes! Double patty with  seculent sauce
							a.burger__btn.btn.bookBurg.btn-light.justify-content-between.stretched-link(href="#")
								.d-flex
									img.bookBurg__icon(src="static/images/general/barbecco-icon.png").mr-2
									span.bookBurg__kilo.mr-2 345 KJ
								span.bookBurg__price $13.6
	// burgers end 

	// wait
	section.wait.w-100
		.container
			.row
				.col-md-7.col-lg-5.col-xl-8.d-flex.align-items-md-center.mb-5.mb-md-0
					h1.title.text-white Wait! But we also serve ...

				.col-md-5.col-lg-7.col-xl-4.d-flex.justify-content-md-end
					ul.price-list.list-unstyled
						li.price-list__item.mb-3.mb-md-4
							span.price-list__food French Fries
							span.price-list__price $12
						li.price-list__item.mb-3.mb-md-4
							span.price-list__food Cold Drinks
							span.price-list__price $8
						li.price-list__item.mb-3.mb-md-4
							span.price-list__food Love Choclates
							span.price-list__price $25
						li.price-list__item.mb-3.mb-md-4
							span.price-list__food Coleslav
							span.price-list__price $9
						li.price-list__item
							span.price-list__food Lots of Love
							span.price-list__price Free
	//wait end

	//photos 
	section.photos
		.container
			h1.title.text-center.mb-2  Photos
			p.help-title.mb-5 Beautiful pictures clicked by our Customizes
			.slider
				div 
					img(src="static/images/content/slide_1_m.jpg")
				div 
					img(src="static/images/content/slide_2_m.jpg")
				div 
					img(src="static/images/content/slide_3_m.jpg")
				div 
					img(src="static/images/content/slide_4_m.jpg")
				div 
					img(src="static/images/content/slide_5_m.jpg")
				div 
					img(src="static/images/content/slide_6_m.jpg")
				div 
					img(src="static/images/content/slide_7_m.jpg")
				div 
					img(src="static/images/content/slide_8_m.jpg")
				div 
					img(src="static/images/content/slide_9_m.jpg")
				div 
					img(src="static/images/content/slide_10_m.jpg")
				div 
					img(src="static/images/content/slide_11_m.jpg")
				div 
					img(src="static/images/content/slide_12_m.jpg")
				div 
					img(src="static/images/content/slide_13_m.jpg")
				div 
					img(src="static/images/content/slide_14_m.jpg")
				div 
					img(src="static/images/content/slide_15_m.jpg")
				div 
					img(src="static/images/content/slide_16_m.jpg")
			.preview.d-md-block
				div 
					img(src="static/images/content/slide_1_m.jpg")
				div 
					img(src="static/images/content/slide_2_m.jpg")
				div 
					img(src="static/images/content/slide_3_m.jpg")
				div 
					img(src="static/images/content/slide_4_m.jpg")
				div 
					img(src="static/images/content/slide_5_m.jpg")
				div 
					img(src="static/images/content/slide_6_m.jpg")
				div 
					img(src="static/images/content/slide_7_m.jpg")
				div 
					img(src="static/images/content/slide_8_m.jpg")
				div 
					img(src="static/images/content/slide_9_m.jpg")
				div 
					img(src="static/images/content/slide_10_m.jpg")
				div 
					img(src="static/images/content/slide_11_m.jpg")
				div 
					img(src="static/images/content/slide_12_m.jpg")
				div 
					img(src="static/images/content/slide_13_m.jpg")
				div 
					img(src="static/images/content/slide_14_m.jpg")
				div 
					img(src="static/images/content/slide_15_m.jpg")
				div 
					img(src="static/images/content/slide_16_m.jpg")

	// photos end 

	//contact 
	section.contact
		.container
			h1.title.text-center.mb-2  Contact Us
			p.help-title.mb-5 Beautiful pictures clicked by our Customizes
	.bg_dark-blue
		.container
			.row
				.col-md-6
					form
						input.form-control(type="text" placeholder="Name").mb-2
						input.form-control(type="mail" placeholder="Email").mb-2
						input.form-control(type="cell" placeholder="tell").mb-2
						textarea.form-control(placeholder="deliver" ).mb-2
						input.form-control.btn.btn-primary.text-white(type="submit" value="Submit")

				.col-md-6
					// <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.917602540446!2d144.96279431584483!3d-37.81539894191099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b44b0eaffb%3A0xc325beac870b4a2!2zMjcyIENvbGxpbnMgU3QsIE1lbGJvdXJuZSBWSUMgMzAwMCwg0JDQstGB0YLRgNCw0LvQuNGP!5e0!3m2!1sru!2sru!4v1552929706773" width="800" height="450" frameborder="0"  allowfullscreen></iframe>