//burger 
.burger{
	&__body{
		display: flex;
		flex-direction: column;
		align-content:   center;
	}
	&__img{
		// max-width: 160px;
		// max-height: 135px;
		margin: auto;
		width: 100%;
		height: auto;
		display: block;
		&_1{
			width: 161px;
			height: 150px;
		}
		&_2{
			margin-top: -4px;
			width: 161px;
			height: 154px;
			position: relative;
			bottom: -10px;
		}
		&_3{
			width: 164px;
			margin-top: 18px;
			height: 132px;
			position: relative;
		}
	}
	
	&__name{
		color:  $primary;
		font-size: 1.4rem;
		font-weight: 400;
		text-align: center;

	}

	&__text{
		text-align: center;
		font-size: 0.75rem;
		max-width: 160px;
		margin: auto;
		margin-bottom: 0.5rem;
	}
}
//burger end

//bookBurg
.bookBurg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 162px;
	margin: auto;
	padding-top: 4px;	
	padding-bottom:  4px;
	border-radius: 0px;	
	border: 0px;
	&__img{
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	&__kilo{
		font-size: 0.75rem;
		color: $black;

	}
	&__price{
		font-size: 1.25rem;
		line-height: 0.8;
		color: $black;
		font-family: 'Rubik';
		font-weight: 400;
	}
}
//bookBurg end

.price-list{
	max-width: 280px;
	width: 100%;
	padding: 3.125rem  2.1875rem 1.75rem 2.2rem;
	border: 3px solid $primary;
	line-height: 1;
	&__item{
		display: flex;
		justify-content: space-between;
		color: $white;

	}
}

.title{
	font-size: 3.7rem;
	font-weight: 500;
	line-height: 1;

}

.help-title{
	font-size: 0.761em;
	font-weight: 400;
	line-height: 1.478;
	text-align: center;
}




// gallery 
.slider{
	width: 90%;
	margin: auto;
		img{
		width: 100%;
		height: auto;
		max-height: 270px;
	}
	.slick-dots{
		bottom: -60px;		
	}

}

.preview{
	display: none;

	img{
		//width: 100%;
		max-width: 160px;
		width: 160px;
		height: 90px;
		margin: auto;
	}
}
	


.preview img{
	border: 5px solid #fff;
	transition: all ease 0.15s;
	&:hover{
		cursor: pointer;
		border: 5px solid rgba(255, 163, 38, 0.7);
		transition: all ease 0.15s;
	}
}

.preview .slick-current img{
	border: 5px solid rgba(255, 163, 38, 0.7);
	transition: all ease 0.15s;
}


// gallery  end	


//contact form
.contactForm{
	max-width: 100%;
	width: 100%;
	.form-text{
		color:#fff;
	}
	label{
		color: #fff;
		margin-bottom: 0.5rem;
		line-height: 1;
	}
}



.form-icon{
	max-height: 1rem;
	max-width: 1rem;
	//fill: $gray-600;
	fill: $white;
	
	line-height: 1;
	// position: relative;
	// top: -1px;
	// &_user{
	// 	position: relative;
	// 	top: -3px;
	// }
}

//contact form end

.content{
    position: relative;
    overflow: auto;
}

@media screen and (min-width: 768px)  {
	.slider{
		width: 100%;
		img{
			max-height: 360px;
		}
	}

	.contactForm{
	max-width: 350px;
	}

	.phoneNum{
		font-size: 3.3rem;
	}

}
@media screen and (min-width: 992px)  {
	.slider{
		img{
			max-height: 480px;
		}
	}
	.address{
		font-size: 1.25rem;
	}

}

@media screen and (min-width: 1200px)  {
	.slider{
		img{
			max-height: 570px;
		}
	}

}