.nav-link{
	color: $gray-100;
}
.navbar{
	&-toggler{
		border: 1px solid #ccc;
	}

	.nav{
		max-width: 150px;
		&-link{
			color: rgba( 0, 0, 0, 0.7);
			border-bottom: 3px solid $white;
			transition:  all ease 0.15s;
			line-height: 1;
			display: inline-block;
		}
		.active{
			//font-weight: 700;
			color: rgba( 0, 0, 0, 1);
			border-bottom: 3px solid $primary;
			transition:  all ease 0.15s;

		}
		&-item:hover .nav-link{
			border-color: $primary;
			transition:  all ease 0.15s;
		}
	}
}

