footer.footer.text-primary.py-3
	.container
		.d-flex.flex-column.flex-md-row.justify-content-md-between
			small.mb-1.mb-md-0 All RIghts Reserved,  2016-2019 
			small Made with love by 
				a(href="https://vk.com/andei_kinder") Andrei Kinder